<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Quantitativo de Beneficiários por COMAR</h5>   
            </div>
            <div class="card-body widget-body">              
                <div class="w-100 h-300p">
                    <ngx-charts-bar-vertical-2d
                        [scheme]="colorScheme"
                        [xAxis]="showXAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showDataLabel]="showDataLabel"
                        [legendTitle]="legendTitle"
                        [results]="multi">
                    </ngx-charts-bar-vertical-2d>                 
                </div>
            </div>
        </div>
    </div>
</div>