<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Quantitativo de Núcleos Por COMAR</h5>     
            </div>
            <div class="card-body widget-body">              
                <ngx-charts-pie-grid
                    [scheme]="colorScheme"
                    [results]="single">
                </ngx-charts-pie-grid>        
            </div>
        </div>
    </div>
</div>