<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">

    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>

    </div>
  </div>
  <div class="card-body pt-0 widget-body">
    <p class="text-left fs-13 text-gray">Clique no Módulo para adicionar a função necessária para o seu carregamento</p>
    <div class="table-responsive">
      <ng2-smart-table class="table table-hover tr-selecionavel" 
        [settings]="settings" 
        [source]="source"
        (createConfirm)="onCreate($event)" 
        (deleteConfirm)="onDelete($event)" 
        (editConfirm)="onEdit($event)"
        (userRowSelect)="onRowSelect($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>





<!-- Bloco para remover as permissões da regra selecionada -->
<div widget class="card border-0 box-shadow mt-3" [hidden]="!!!selected_module">
  <div class="card-body pt-0 widget-body">
    <p class="title fs-20 text-black mt-2">Sincronizar roles para Módulo : <b>{{selected_module?.name}}</b></p>
    <form [formGroup]="addPermissionForm" (submit)="SyncRole()">

      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="form-control-label">Módulo Frontend</label>
          <input type="text" class="form-control" value="{{selected_module?.name}}" readonly>
          <input type="hidden" class="form-control" formControlName="module_id">
          <div class="text-danger" *ngIf="addPermissionForm.get('module_id').invalid && addPermissionForm.get('module_id').touched">
            <div *ngIf="addPermissionForm.get('module_id').errors.required">dado obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row">
              
        <div class="form-group col-md-8">
          <label class="form-control-label">Função</label>
          <ng-select 
            [items]="roles"
            [multiple]="true"
            bindValue="id"
            bindLabel="name"
            formControlName="roles">
          </ng-select>

          <div class="text-danger" *ngIf="addPermissionForm.get('roles').invalid && addPermissionForm.get('roles').touched">
            <div *ngIf="addPermissionForm.get('roles').errors.required">dado obrigatório</div>
          </div>

        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-3 .px-2">
          <button type="submit" [disabled]="addPermissionForm.invalid" class="btn btn-success  float-left mt-4">
            Sincronizar
          </button>
        </div>
      </div>

    </form>

  </div>
</div>